/* Logo Styles
-------------------------------------------------- */
.navbar-brand {
    color: #ea0082 !important;
    font-weight: 900;
    padding-top: 0;
}

.navbar-brand img{
  float: right;
  margin: 0 20px 0 0;
  padding-top: 10px;
}

.navbar {
  overflow: auto;
  height: 100px;
  background-color: #333;
}

.navbar .navbar-nav li a {
    line-height: 100px;
    height: 100px;
    padding-top: 0;
    font-size: 18px;
    color: #fff;
}

.navbar .navbar-nav li a:hover {
    color: hotpink;
}

.navbar .navbar-form{
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    width: 100%;
    background: hotpink; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, hotpink, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, hotpink, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, hotpink, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, hotpink, yellow); /* Standard syntax */
    margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #333;
  text-align: center;
}
.footer div p {
    margin: 10px 0;
    color: hotpink;
}

/* Product images */
.thumbnail {
  min-height: 400px;
  max-height: 400px;
}

.product-image {
    position:relative;
    min-height: 300px;
}
.product-image img {
    width:100%;
    vertical-align:middle;
    max-height: 260px;
}

.product-image:after, .product-image:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.product-image:after {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(255,255,255,0.6);
    z-index:1;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.product-image:before {
    content: attr(data-content);
    width:100%;
    color:#323232;
    z-index:2;
    bottom:40%;
    padding:4px 10px;
    text-align:center;
    font-size: 32px;
    font-weight: bold;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.product-image:hover:after, .product-image:hover:before {
    opacity:1;
}